/*** Highlight jub agenda items ***/
.JubItem {
	background-color: #DEBF79 !important;
	color: white !important;
}

/*** Sponsors ***/
.JubileumSlider .simply-scroll { /* Customisable base class for style override DIV */
	height: 150px;
	background-color: white;
	border-top: 2px solid #DEBF79;
	border-bottom: 2px solid #DEBF79;
}
.JubileumSlider .simply-scroll .simply-scroll-clip {
	height: 150px;
}
.JubileumSlider .simply-scroll .simply-scroll-list li {
	float: left;
	height: 150px;
}

.JubileumSlider IMG {
	height: 140px;
	padding: 10px 15px;
}

/*** Sponsors ***/
.Sponsors {
	margin: 20px 0;
}

.Sponsors .col-xs-12 {
	margin-bottom: 20px;
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.Sponsors .Left, .Sponsors .Right {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.Subsponsor {
	background-color: lightgray;
	height: 40px;
	margin: 10px 0;
	padding-left: 10px;
	font-family: 'Rokkitt', serif;
	font-weight: 500 !important;
	font-size: 24px;
	text-align: left;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.CollapseIcon {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 1rem 1.5rem 1rem;
	border-color: transparent transparent transparent white;
	float: right;
}

.Subsponsor.Medium {
	font-size: 22px !important;
}

.Subsponsor.Smol {
	font-size: 18px !important;
}

/*** Content ***/
.JubileumContent {
	padding-bottom: 20px;
	background-color: #ededed;
}

.JubileumSlider {
	margin-top: 40px;
}

.JubileumContent .slider-container, .JubileumContent .slider {
    height: 37rem; !important;
}

.JubileumPage .MainTitle {
	height: 150px;
}

.JubileumPage .MainTitle .Title IMG {
	width: 25%;
	min-width: 200px;
}

/*** Loterij ***/
.Loterij .akkoord {
	width: 4% !important;
}

.Loterij div.vorm {
	margin: 20px 0;
}

.Loterij div.vorm input {
	width: 4% !important;
}

.Loterij .col-xs-12 {
	margin-bottom: 25px !important;
}

.Loterij .Part {
	display: grid;
}

.Loterij a {
	text-decoration: underline;
	cursor: pointer;
} 

#submitModalFormHidden {
	display: none;
}
/*** Home ***/
.JubileumHome .row {
	padding: 3rem 0;
}

.JubileumHome .row:not(:last-child) {
	border-bottom: 2px solid lightgrey;	
}

.JubileumHome .PartTitle {
	font-family: 'Rokkitt', serif;
	font-weight: 700 !important;
	color: black;
	font-size: 28px;
	line-height: 2.5rem;
	margin-bottom: 2rem;
}

.JubileumHome IMG {
	width: 100%;
}

/*** Programma ***/

.JubileumPage {
	padding-bottom: 20px;
	background-color: #ededed;
}

.JubileumPage .ImageHeader {
	height: 24rem;
}

.JubileumPage .ImageHeaderSingle {
	height: 31rem;
}

.JubileumPage .ImageHeader .Image, .JubileumPage .ImageHeaderSingle .Image {
	display: block;
	float: left;
	background-position: center center;
	background-size: cover;
	height: 100%;
}
	
.JubileumPage .ImageHeader .Image {
	width: 33%;
}

.JubileumPage .ImageHeaderSingle .Image {
	width: 100%;
}

.JubileumPage .JubileumContent {
	min-height: 30rem;
	padding: 15px 0 !important;
}

.Introduction {
	column-count: 1;
	column-gap: 3rem;
	padding: 2em 0;
	border-bottom: 2px solid #DEBF79;
}

.JubileumPage .Programma {
	margin: 2rem 0;
}

.Programma > div > div > div {
	float: left;
}

.ProgrammaRow {
	width: 100%;
	cursor: pointer;
}

.ProgrammaRow > div {
	width: 100%;
}

.ProgrammaRow > .InitialContent > div {
	margin-top: 4px;
}

.ProgrammaRow.Current > .InitialContent > div {
	background-color: #DEBF79;
}

.ProgrammaRow.Finished > .InitialContent > div {
	background-color: #E9E2CF
}

.ProgrammaRow > div.InitialContent {
	height: 4rem;
}
	
.ProgrammaRow > div.CollapsibleContent {
	background-color: white;
}

.ProgrammaRow > .CollapsibleContent > div {
	min-height: 14rem;
	padding-left: 3rem;
	background-color: white;
}

.ProgrammaRow > div > div > span {
	vertical-align: middle;
	white-space: nowrap;
}

.ProgrammaRow > div > div:nth-child(odd) {
	width: 24.5%;
	margin-right: 0.5%;
}

.ProgrammaRow > div > div:nth-child(even) {
	width: 75%;
}

.ProgrammaRow .Date {
	font-family: 'Rokkitt', serif;
	font-weight: 500 !important;
	color: white;
	font-size: 28px;
	text-align: center;
}

.ProgrammaRow .ProgrammaTitle {
	padding-left: 3rem;
	font-family: 'Rokkitt', serif;
	font-weight: 300 !important;
	font-size: 28px;
	text-align: left;
}

.ProgrammaRow.Current .ProgrammaTitle {
	color: black;
}

.ProgrammaRow.Finished .ProgrammaTitle {
	color: #717171;
}

.ProgrammaRow .ProgrammaTitle .CollapseIcon {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 1.5rem 1rem 1rem;
	border-color: white transparent transparent transparent;
	float: right;
	margin: 1.2rem 1.5rem 0 0;
}

.ProgrammaRow .Image {
	padding: 0 !important;
}

.ProgrammaRow .Image > span > img {
	width: 100%;
}

.ProgrammaRow .Description {
	margin: 1rem 0;
}
	
.ProgrammaRow .Description p {
	white-space: initial;
	font-size: 14px !important;	
}

.ProgrammaRow .CollapsibleContent {
	overflow: hidden;
}

.JubileumPage .Collapsed {
	display: none !important;
}

.ProgrammaRow .PreLink {
	margin: 3rem 0;
}

.ProgrammaRow .PreLink a {
	padding: 1rem 3rem;
	background-color: black;
	color: white !important;
}

.ProgrammaRow .PostLink {
	margin: 0.2rem 1rem 0.2rem 0;
	float: right;
	font-weight: 500 !important;
}


.ProgrammaRow .PostLink a {
	padding: 0.5rem 4rem;
	background-color: black;
	color: #DEBF79 !important;
	font-size: 2rem;
}

/*** Programma Modal Form ***/
.FormData {
	display: none;
}

.volwassenen, .kinderen {
	display: inline-block;
}

.volwassenen div, .kinderen div {
    float: left;
    width: 50px;
    margin: 10px;
}

.totaal_aantal input {
	width: 50px;
}

.modal-footer {
	margin-top: 50px;
}

.Sending, .Success {
	display: none;
	margin: 15px 0;
	padding: 10px;
	width: 300px;
}

.Sending {
	border: 3px solid red;
}

.Success {
	border: 3px solid green;
}  
