/*
Theme Name: Quick'20 Theme
Author: Brandcube
*/

html, body {
	font-family: 'Open Sans', sans-serif;
}
p {
	font-size: 16px;
	line-height: 20px;
}
a, a p {
	color: black !important;

}
p a {
	font-weight: bold;
	text-decoration: underline;
}
p a:hover {
	text-decoration: underline;
	cursor: pointer;
	color: #FD0101 !important;
}
.btn {
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6, .btn {
	font-family: 'Rokkitt', serif;
	margin: 0px;
}
h1 {
	font-size: 70px;
	margin: 0px !important;
	padding: 0px !important;
	line-height: 56px !important;
}
h2 {
	text-transform: uppercase;
	margin: 0px;
	padding: 15px 18px;
	display: inline-block;
	color: white;
	font-size: 25px;
	float: left;
	background-color: #d90000;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
h2 a {
	color: white !important;
	text-decoration: none;
}
h2 a:hover . h2{
	background-color: #FD0101;
}
h4 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 6px;
}
h5 {
	display: inline-block;
	color: black;
	font-size: 20px;
	float: left;
	text-transform: uppercase;
}
h6 {
	color: #d90000;
	font-size: 16px;
}
.caret {
	display: none;
}
.container {
	padding-left: 0px;
	padding-right: 0px;
}
.col-left {
	padding-left: 0px;
}
.col-right {
	padding-right: 0px;
}
/* HEADER */

header {
	margin-top: 31px;
	height: 82px;
}
.logo {
	z-index: 9999;
	margin-top: -12px;
}
.navigation {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.navbar {
	height: 82px !important;
	font-family: 'Rokkitt', serif !important;
	font-size: 16px;
	font-weight: bold;
	border: none !important;
}
.navbar-collapse {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.navbar a {
	color: black !important; 
}
.navbar ul li {
	text-transform: uppercase;
}

.navbar ul li a {
	padding: 31px 8px !important;
}
.navbar ul li.active a, .navbar ul li a:hover{
	background-color: #DEBF79 !important;
	color: white !important;
}
.navbar ul ul li:nth-child(even) {
	background-color: #efefef;
}
.navbar ul ul li:nth-child(odd) {
	background-color: white;
}
.navbar ul ul {
	border: 1px solid #DEBF79;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 0px;
	font-size: 16px !important;
}
.navbar ul ul li a {
	text-align: center;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.navbar ul ul ul {
	left: 100%;
	top: 0;
	margin-top: -1px;
}

/* SLIDER */

.slider {
	height: 553px;
	width: 100%;
	overflow:visible !important;
	background-position: center center;
	background-size: cover;
}
.slider-container {
	background-position: center center;
	background-size: cover;
	height: 553px;
	width: 100%;
}
.slider-container.topcenter {
	background-position: top center;
}
.slider-container.bottomcenter {
	background-position: bottom center;
}
.slider-container {
	overflow: hidden;
	position: relative;
}
.unslider {
	overflow: visible;
}
.unslider-arrow {
	height: 74px;
	width: 74px;
	margin-top: -300px;
	z-index: 10;
}
.unslider-arrow.prev {
	background-image: url("../images/button-prev.png");
	left: 0;
}
.unslider-arrow.next {
	background-image: url("../images/button-next.png");
	right: 0;
}
.slider-overlay {
	width: 100%;
	height: 553px;
	background-color: black;
	opacity: 0.5;
	position: absolute;
}
.slider-caption {
	margin-top: 168px;
	position: relative;
	color: white;
}
.slideCaptionLine {
	background-color: white;
	height: 1px;
	width: 220px;
	margin-left: 12px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.btn-readmore {
	border: 2px solid #d90000;
	color: white !important;
	border-radius: 0px !important;
	background: none;
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 10px;
	padding: 7px 34px;
}
.btn-readmore:hover {
	background-color: #d90000;
	color: white;
}

/* NIEUWS */

.news {
	background-color: #efefef;
	padding-bottom: 40px;
}
.newsLink {
	margin-left: 20px;
	margin-top: 40px;
}
.newsItems {
	padding-top: 19px;
}
.newsItemImage {
	width: 100%;
	height: 175px;
	background-size: cover;
	background-position: center center;
}
.newsItemImage.topcenter {
	background-position: top center;
}
.newsItemImage.bottomcenter {
	background-position: bottom center;
}
.newsTitle {	
	font-family: 'Open Sans', sans-serif !important;
	font-size: 16px;
	font-weight: bold;
	margin-top: 21px;
	margin-bottom: 5px;
	line-height: 16px;
}
.owl-item {
	margin-right: 30px ;
}
/* TEAMS */

.teams {
	padding-top: 40px;
	padding-bottom: 30px;
	background-image: url("../images/home-teams-bg2.png");
	background-position: left top;
	background-repeat: no-repeat;
}
.TeamButtons {
	padding-right: 0px !important;
}
.colTeams, .colTeamButtons {
	padding-left: 0px !important;
	padding-right: 0px !important; 
}
.colTeamButtons {
	width:165px;
}
.colTeamButtons2 {
	margin-left: 30px;
}
.btn-team{
	border-radius: 0px;
	background-color: #555454;
	color: white;
	text-transform: uppercase;
	width: 165px;
	height: 37px;
	margin-top: 5px;
	font-size: 16px;
}
.btn-team:hover {
	color: white;
	background-color: #616161;
}
.AllTeams {
	margin-top: 16px;
	font-size: 16px;
}
.black {
	background-color: black;
}
.NextMatch {
	background-color: #ededed;
	margin-top: 50px;
	padding: 15px;
	height: 235px;
	overflow: hidden;
}
.NextMatchBox .Standings {
	background-color: #ededed;
	margin-top: 30px;
	padding: 15px;
}
.NextMatchBox .Standings DIV.quick {
	font-weight: bold;
}
.standing-row {
	border-bottom: 1px solid #a8a8a8;
	height: 28px;
	clear: both;
	padding-top: 5px;
}
.stand-team {
	padding-left: 5px;
	float: left;
	padding-right: 0px;
}
.stand-games {
	float: left;
	padding-right: 0px;
}
.stand-points {
	font-weight: bold;
	float: left;
}
.NextMatch h5 {
	font-size: 26px !important;
}
.classment-title {
	font-size: 26px !important;
	padding-bottom: 15px;
}
.NextMatch p {
	font-size: 15px;
	display: inline-block;
}
.NextMatchLine {
	background-color: black;
	height: 1px;
	width: 100%;
	margin-bottom: 25px;
}
.ClubLogo {
	text-align: center;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 50px;
}
.ClubLogo img {
	width: 50px;
	height: 50px;
}
.ClubTeamName {
	padding-left: 0px;
}
.ClubTeamName, .Score {
	font-size: 21px;
	text-transform: uppercase;
	padding-top: 10px;
	text-align: center;
	font-family: 'Rokkitt', serif;
}
.ClubScore {
	font-size: 21px;
	text-align: center;
	font-family: 'Rokkitt', serif;
}
.ClubNextMatch {
	margin-bottom: 20px;
}
.MatchName {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-family: 'Rokkitt', serif;
	padding-top: 15px;
}
.VideoSmall {
	padding-left: 0px;
	padding-right: 0px;
	height: 147px;
	margin-bottom: 10px;
	margin-top: 30px;
}
.VideoSmall h5 {
	font-size: 16px;
	height: 16px;
	overflow: hidden;
}
.VideoSmall iframe {
	width: 100%;
	height: 100%;
}
.VideoSmallFirst {
	margin-top: 50px;	
}
.MoreQuickTV {
	margin-top: 26px;
}

/* Trainerspagina */
.Sidebar {
	padding-top: 40px;
	padding-right: 0px;
}
.ContentSwitch li.active {
	background-color: white;
}
.TrainersPage .Content {
	padding-top: 40px;
	display: none;
}
.TrainersPage.Overview {
	display: block;
}
.TrainersPage h2 {
	margin-bottom: 20px;
}
.TrainersPage .OefenvormGroep {
	display: none;
}
.TrainersPage .Oefenvorm {
	height: 50px;
    border: 1px solid #ccc !important;
	border-radius: 16px !important;
	margin: 10px;
    padding: 10px;
    width: 90%;
}
.TrainersPage .filters {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.TrainersPage .Oefenvorm A IMG {
	margin-right: 10px;
} 
.CollapsableGroup {
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: #bce8f1;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: #bce8f1;
    color: #ffffff;
    padding: 10px 15px;
	padding: 5px;
    background-color: #555454;
    width: 50%;
    margin-bottom: 10px;
}
.CollapsableGroup.Large.Open {
	min-width: 600px;
}
.CollapsableTitle {
	color: #ffffff;
	background-color: #555454;
	padding: 5px;
	cursor: pointer;
}
.CollapsableContent {
	color: #000000;
	background-color: #ffffff;
	padding: 10px;
}
.CollapsableTitle SPAN {
	top: 0.15em;
	transform: rotate(-45deg);
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	display: inline-block;
	height: 0.8em;
	vertical-align: top;
	width: 0.8em;
	float: right;
	margin-right: 10px;
}
.CollapsableTitle SPAN.up {
	transform: rotate(-45deg);
}
.CollapsableTitle SPAN.down {
	transform: rotate(135deg);
}
.CollapsableTitle {
	font-weight: bold;
}
.CollapsableContent {
	display: none;
}
.CornerStones P {
	margin-bottom: 20px;
}
.Exercise IFRAME {
	width: 500px;
	height: 300px;
}
.ExerciseTitle {
	font-weight: bold;
	font-size: 16px;
}
.ExercisesVideo {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 320px;
}
.ExercisesVideo iframe {
	height: 100%;
	width: 100%;
}
.Links LI {
	font-family: "Open Sans",sans-serif !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-top: 10px;
}
.Excersises {
	clear: both;
	margin-top: 30px;
}
.TrainersPage .Lifestyle H1, .TrainersPage .Lifestyle H4 {
	clear: both;
}
.TrainersPage .Lifestyle H1 {
	font-size: 44px;
    line-height: 33px !important;
}
.TrainersPage .Lifestyle IMG {
	width: 300px;
}
/* /Trainerspagina */

/* Slogan + Agenda */

.slogan-agenda {
	background-color: #efefef;
	padding-bottom: 40px;

}
.slogan-agenda .black {
	margin-left: 15px;
}
.QuickSlogan {
	padding-top: 40px;
}
.slogan {
	font-weight: bold;
	font-size: 43px;
	text-transform: uppercase;
	line-height: 48px;
	
	background-position: center center;
	background-size: cover;
}
.slogan img {
	width: 100%;
}
.agenda {
	margin-top: 15px;
	font-size: 16px;
	max-height: 135px;
	overflow: hidden;
	font-family: 'Rokkitt', serif;
}
.AgendaDate {
	padding-left: 0px;
	padding-right: 0px;
	color: #d90000;
}
.AgendaPoint {
	border-bottom: 1px solid #a3a3a3;
	display: inline-block;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
}
.AgendaTitle {
	padding-right: 0px;
	max-height: 23px;
	overflow: hidden;
}

/* Advertenties */
.
.advertising {
	padding-top: 56px;
	padding-bottom: 56px;
	background-color: #555;
}
.row-adverts {
	margin-left: 15px;
}
.row-adverts .mobile {
	display: none;
}
.row-adverts .screen {
	display: block;
}
.Banner1 {
	padding-right: 0px;
	width: 90%;
	height: 225px;
	background-position: center center;
	background-size: cover;
}
.Banner2 {
	width: 262px;
	height: 225px;
	background-position: center center;
	background-size: cover;
	margin-left: 50px;
}

/* Sponsoren */

.sponsors {
	padding-bottom: 40px;
	background-image: url("../images/home-teams-bg.png");
	background-position: left center;
	background-repeat: no-repeat;
}
.hoofdsponsors {
	padding-top: 27px;
	padding-right: 0px;
}
.siers {
	border-right: 2px solid #c4c5c5;
	width: 142px;
	height: 118px;
	float: left;
}
.stersponsors {
	border-right: 2px solid #c4c5c5;
	height: 118px;
}
.SponsorSlider {
	padding-left: 0px;
	height: 118px;
	padding-top: 27px;
}

/* Footer */

footer {
	padding-top: 74px;
	padding-bottom: 74px;
	background-color: black;
}
.contact h5, .contact p{
	color: white;
	width: 100%;
}
.contact h5 {
	font-size: 25px;
}
.contact p {
	color: #cecece;
	margin-bottom: 3px;
	font-size: 15px;
}
.newsletter {
	color: #cecece !important;
	font-size: 22px !important;
	text-transform:none;
}
.newsletter u {
	cursor: pointer;
}
.btn-newsletter {
	text-transform: uppercase;
    padding: 15px 18px !important;
    color: white !important;
    font-size: 23px !important;
    background-color: #d90000 !important;
    border-radius: 0px !important;
    border: none !important;
	display: inline-block !important;
}
.btn-newsletter:hover {
    background-color: #FD0101 !important;
}
footer input {
    width: 100%;
    background-color: #efefef;
    border: none;
    color: black;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
}
footer input.checkbox {
	width: auto;
	display: inline-block;
}
.socialmedia-icon img {
	margin-right: 3px;
}
.map a {
	color: white !important;
	padding: 20px;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Rokkitt', serif;
}
.LinkRoute {
	margin-top: 20px;
}
.disclaimer {
	padding-top: 20px;
	padding-bottom: 5px;
	background-image: url("../images/home-teams-bg.png");
	background-position: left center;
	background-repeat: no-repeat;
}
.footer-link {
	float: right;
	font-size: 14px;
}
.tel,.tel:visited, .tel:hover,.tel:focus {
	color: white !important;
	text-decoration: none !important;
}

/* Nieuws Pagina */


.filters {
	background-color: #efefef;
	float: right;
	width: auto;
}
.filter-menu  {
	list-style: none;
	padding: 0px;
}
.filter-menu li {
	float: left;
	text-transform: uppercase;
	font-family: 'Rokkitt', serif;
	font-size: 20px;
	padding: 3px 0px;
}
.filter-menu li ul li {
	width: 100%;
	padding: 0px 0px;
	cursor: pointer;
}
.filter-menu .dropdown-menu>.active>a:hover, .filter-menu .dropdown-menu>.active>a{
	background-color: #d90000;
	color: white !important;
}
.filter-menu li ul li a{
	width: 100%;
	padding: 5px 10px;
}
.row-news {
	margin-bottom: 20px;
}
.NewsMessages {
	margin-top: 50px;
}
.NewsPage .row {
	margin-right: -30px;
}
.NewsMessage:hover > .newsTitle {
	text-decoration: underline;
	color: black;
}
.NewsMessage:hover > .NewsImageSmall:after {
	background-color: black;
	opacity: 0.3;
	
}
.Nieuwsbericht {
	min-height: 400px;
}
.NewsImageSmall:after {
	content: '';
	width: 100%;
	height: 100%;
	margin-left: -15px;
	position: absolute;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	
}
.NewsImageSmall {
	height: 290px;
	background-position: center center;
	background-size: cover;
	margin-bottom: 10px;
	display: none;
	
}
.NewsImageSmall:first-child {
	display: block;
}
.newsItemImage {
	display: none;
}
.newsItemImage:first-child {
	display: block;
}
.OldNews {
	padding: 20px 0px;
}
.OldNewsList {
	padding-left: 0px;
	padding-right: 0px;
}
.OldNews p {
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	display: flex;
}
.OldNewsCollums {
	margin-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
}

/* Single Nieuws Item */

.MainTitle {
	background-color: black;
	height: 116px;
}
.ContainerMainTitle {
	text-align: center;
}
.Title {
	color: white;
	margin-top: -40px !important;
	font-size: 45px;
	text-transform: uppercase;
}
.Title.TeamPage {
	margin-top: -60px !important;
}
.Subtitle.TeamPage {
	margin-top: -10px !important;
	font-size: 25px;
	color: white;
}
.MainPhoto {
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 480px;
	display: none;
}
.MainPhoto.topcenter {
	background-position: top center;
}
.MainPhoto.bottomcenter {
	background-position: bottom center;
}
.MainPhoto:first-child {
	display: block;
}
.photo-overlay {
	width: 100%;
	height: 480px;
	background: -webkit-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,5)); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,5)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,5)); /*Fx 3.6-15*/
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,5)); /*Standard*/
	opacity: 0.5;
	position: absolute;
}
.NewsSingleContent {
	padding: 15px 0px;
}
.ReturnLink {
	font-size: 16px;
}
.SingleNewsTitle {
	font-size: 54px;
	color: black;
	padding-top: 30px !important;
	padding-bottom: 20px !important;
}
.SingleNewsText {
	padding-left: 0px;
}
.SingleNewsText strong {
	font-size: 16px;
}
.SingleNewsText p {
	font-size: 14px;
}
.SingleNewsDate {
	color: #d90000;
	font-weight: bold;
	font-size: 16px;
}
.SingleNewsCategory {
	font-weight: bold;
	font-size: 16px;
}
.NewsPhoto {
	margin-top: 40px;
	width: 100%;
}
.RecentNewsItems {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	padding-top: 50px;
}
.share-buttons {
	padding-top: 30px;
	padding-bottom: 30px;
	clear: both;
}
.share-col {
	clear: both;
}
/* Team Overzicht */

.TeamOverview {
	padding-top: 40px;
	padding-bottom: 50px;
	background-image: url("../images/home-teams-bg.png");
	background-position: left top;
	background-repeat: no-repeat;
}
.TeamList {
	padding-bottom: 30px;
}
.TeamListTitle {
	text-transform: uppercase;
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}
.btn-teamlist {
	width: 100%;
	margin-top: 8px;
}
.col-md-20 {
	width: 20%;
}
.MoreInfo {
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
	line-height: 40px;
	font-family: 'Rokkitt', serif;
}
.btn-side {
	color: white;
	font-family: 'Rokkitt', serif;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	padding: 15px;
	text-align: center;
	margin-top: 15px;
		-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn-side:hover {
	opacity: 0.8;
}
.TeamList a  {
	text-decoration: none !important;
}
.btn-green {
	background-color: #49a30a;
}
.btn-red {
	background-color: #d90000;
}
.btn-black {
	background-color: black;
}
.btn-white {
	background-color: white;
	color: black;
	border: solid 1px black;
}


/* Agenda Pagina */

.AgendaPage {
	padding-top: 50px;
	padding-bottom: 50px;
}
.h2Agenda {
	padding-top: 7px;
	padding-bottom: 6px;
	margin-bottom: 15px;
	margin-top: 30px;
}
.RowAgenda {
	padding-left: 10px;
	margin-left: 0px;
	background-color: white;
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.agenda-row:nth-child(odd) > .RowAgenda {
	background-color: #efefef;
}
.RowAgendaWhite {
	background-color: white;
}
.AgendaMonth {
	margin-bottom: 30px;
}
.AtmospherePics {
	height: 252px;
}
.AtmospherePicture {
	height: 252px;
	background-position: center center;
	background-size: cover;
}
.AtmospherePicture.topcenter {
	background-position: top center;
}
.AtmospherePicture.bottomcenter {
	background-position: bottom center;
}

/* Contact Pagina */

.ContactHeader {
	height: 400px;
}
.ContactHeaderPic {
	height: 400px;
	background-position: top center;
	background-size: cover;
}
.ContactContent {
	padding-top: 40px;
	padding-bottom: 40px;
}
.AdresData, .AdresData p, .OverigContact, .OverigContact p {
	margin-top: 20px;
	font-size: 14px;
}
.wpcf7 {
	padding-top: 20px;
}
.wpcf7 .screen-reader-response {
	display: none;
}
.wpcf7 input {
	width: 100%;
	background-color: #efefef;
	border: none;
	color: black;
	padding: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 14px;
}
.wpcf7 textarea {
	width: 100%;
	resize: vertical;
	height: 120px;
	background-color: #efefef;
	border: none;
	color: black !important;
	padding: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 14px;
}
.wpcf7-submit {
	text-transform: uppercase;
	margin: 0px;
	font-family: 'Rokkitt', serif;
	padding: 15px 18px !important;
	width: auto !important;
	display: inline-block;
	color: white !important;
	font-size: 23px !important;
	float: left;
	background-color: #d90000 !important;
	margin-right: 120px;
}
.wpcf7-not-valid-tip {
	font-size: 12px;
	color: #d90000;
}
.wpcf7-response-output {
	width: 100%;
	font-size: 12px;
}
.wpcf7-mail-sent-ok {
	color: #49a30a;
}
.wpcf7-submit:hover {
	background-color: #FD0101 !important;
}
::-webkit-input-placeholder {
color: black !important;
}
:-moz-placeholder { /* older Firefox*/
color: black !important;
}
::-moz-placeholder { /* Firefox 19+ */ 
color: black !important;
} 
:-ms-input-placeholder { 
color: black !important;
}


/* Organisatie */

.DoubleTitle {
	width: 720px;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: -55px !important;
	line-height: 41px !important;
}
.FotoOrganisatie {
	height: 521px;
	background-position: center center;
	background-size: cover;
}
.NamesOrganisatie {
	font-size: 16px;
	padding: 25px 20px;
	text-transform: none;
}
.Bestuur {
	margin-top: 30px;
}
.BestuurList {
	margin-top: 20px;
}
.RowBestuur {
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 0px;
}
.BestuurMember {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 18px;
	font-family: 'Rokkitt', serif;
}
.BestuurDescription a:hover {
	color:#d90000 !important;
}
.BestuurPhoto {
	height: 150px;
	background-size: cover;
	background-position: top center;
}
.RowBestuurGrey {
	background-color: #efefef;
}
.SecretariaatPage {
	background-color: #efefef;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 30px;
}
.SecretariaatPage p {
	font-size: 14px;
	line-height: 23px;
}

/* Sponsors */

.SponsorContentTop {
	padding-top: 10px;
	padding-bottom: 30px;
}
.SponsorTitle {
	text-transform: uppercase;
	font-size: 50px;
	color: black;
	padding-top: 30px !important;
	padding-bottom: 20px !important;
}
.SponsorText {
	font-size: 14px;
	line-height: 20px;
}
.SponsorContentMid {
	background-color: #efefef;
	padding-top: 30px;
	padding-bottom: 30px;
}
.SponsorsReasonsText {
	font-size: 15px;
	line-height: 10px;
}
.SponsorContentBottom {
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url("../images/home-teams-bg.png");
	background-position: left top;
	background-repeat: no-repeat;
}
.SponsorBottomText {
	padding-bottom: 50px;
}
.SponsorVideo {
	padding: 20px 50px;
	padding-left: 15px;
}
.sponsorsSponsorpage {
	background-color: #efefef;
	background-image: none;
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Full-width  Index */


.FullWidth {
	padding-top: 40px;
	padding-bottom: 40px;
}
.FullWidth h1 { 
	font-size: 50px;
}
.FullWidth:nth-child(even) h2 {
	background-color: black;
}

.FullWidth h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
}
.FullWidth h4 {
	font-family: 'Rokkitt', serif;
	color: white;
	font-size: 16px;
	background-color: #555454;
	padding: 10px 20px;
	display: inline-block;
	float: none;
}
.FullWidth ul {
	padding-left: 20px;
	margin: 0px;
}
.FullWidth ul li {
	margin: 10px 0px;
}
.FullWidth p {
	font-size: 15px;
}
/*
.FullWidth p:first-child {
	padding-top: 80px;
}
*/
.FullWidth img.alignright { float: right; margin: 20px 20px;  }
.FullWidth img.alignleft { float: left; margin: 20px 20px; }
.FullWidth img.aligncenter { display: block; margin 20px 20px; }

.FullWidth h2 {
	float: none;
	margin-bottom: 23px;
}

/* Full-width  Clubinfo etc. */


.FullWidth:nth-child(even) {
	background-color: #efefef;
}
.FullWidth:nth-child(odd) {
		background-image: url("../images/home-teams-bg2.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-color: white;;
}
.FullWidth:nth-child(4n-7) {
	background-color: white;
	background-image: none;
}

/* Single Team */

.TeamSingle {
	background-image: url("../images/single-team-bg.jpg");
	background-position: left;
	background-size: 50% 100%;
	background-repeat: repeat-y;
}
.TeamSidebar {
	padding-top: 40px;
	padding-right: 0px;
}
.ContentSwitch {
	list-style: none;
	width: 100%;
	padding: 0px;
	margin-bottom: 40px;
}
.ContentSwitch li {
	font-size: 18px;
	font-weight: bold;
	padding-top: 14px;
	padding-left: 14px;
	padding-bottom: 14px;
	text-transform: uppercase;
	width: 100%;
	cursor: pointer;
}
.ContentSwitch li.active {
	background-color: white;
}
#teampicture {
	margin-bottom: 40px;
}
.TeamSponsor IMG {
	margin-top: 75px;
	margin-bottom: 15px;
	display: block;
	margin-left: 15px;
	max-width: 186px;
}
.TeamContent {
	background-color: white;
	padding-bottom: 50px;
	padding-left: 30px;
	min-height: 750px;
}
.TeamContent .NewsImageSmall {
	height:328px;
}
.TeamRowTitle {
	margin-left: 0px;
}
.TeamRowTitle2 {
	margin-left: -15px;
}

.TeamContent .Content {
	padding-top: 40px;
	display: none;
}
.Content.Overview {
	display: block;
}
.TeamLinks DIV {
	float: left;
	padding: 20px;
	margin-left: 30px;
	margin-bottom: 30px;
	font-size: 19px;
}
.TeamLinks DIV.Active {
	background-color: #e6e6e6;
}
.TeamPicture {
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 440px;
}
.TeamPictureDescription h6 {
	color: black;
	padding-top: 15px;
	padding-bottom: 15px;
}
.TeamShortData {
	background-color: #ededed;
	padding: 15px;
}
.TeamShortData .standing-row {
	border-bottom: none;
}
.TeamShortData .Row {
	border-bottom: 1px solid #a8a8a8;
	padding: 10px;
}
.TeamRowPlayer, .TeamRowStaff {
	margin-left: 0px;
	font-family: 'Rokkitt', serif;
	font-size: 16px;
}
.PlayerName {
	padding-top: 2px;
	padding-bottom: 2px;
}
.PlayerPosition {
	padding-top: 2px;
	padding-bottom: 2px;
}
.PlayerEmail {
	height: 26px;
	background-image: url('../images/email_icon.png');
	background-position: center center;
	background-repeat: no-repeat;
}
.PlayerPhone {
	padding-top: 2px;
	padding-bottom: 2px;
}
.TeamRowPlayer:nth-child(even) {
	background-color: white;
}
.TeamRowPlayer:nth-child(odd) {
	background-color: #efefef;
}
.TeamRowStaff:nth-child(4n+1), .TeamRowStaff:nth-child(4n+2) {
	background-color: #efefef;
}
.TeamRowStaff:nth-child(4n+3), .TeamRowStaff:nth-child(4n+4) {
	background-color: white;
}
.TeamLatestNews {
	padding-left: 30px;
}
.TeamInfoImageSmall:first-child {
    display: block;
}
.TeamInfoImageSmall {
    background-position: center center;
    background-size: cover;
    display: none;
    height: 184px;
    margin-bottom: 10px;
}
.TeamNews, .TeamPlayers {
	margin-top: 20px;
	margin-left: 0px;
}
.TeamNewsImage {
	height: 176px;
	background-color: green;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
}
.TitleSub {
	margin-top: 25px;
}
.TeamNewsTitle {
	font-family: 'Rokkitt', serif;
	font-size: 14px;
}
.RowTitle {
	margin-top: 30px;
}
TABLE.KnvbTable.Template {
	display: none;
}
TABLE.KnvbTable {
    width: 100%;
    font-family: 'Rokkitt', serif;
    font-size: 16px;
    border: medium none;
    //margin: 20px 0 20px 0;
}
TABLE.KnvbTable TH {
    border-bottom: 2px solid black;
    padding: 8px 4px;
}
TABLE.KnvbTable TD {
    padding: 6px 4px;
}
TABLE.KnvbTable IMG.ClubLogo {
	height: 30px;
	margin-right: 10px;
	max-width: 30px;
}
DIV.Template, DIV#TeamScheduleWhole, DIV#TeamResultsWhole {
	display: none;
}
.WholeSchedule, .WholeResults {
	float: right;
}
TABLE.ScheduleTable TD.one {
    width: 16%;
}
TABLE.ScheduleTable TD.two {
    width: 10%;
}
TABLE.ScheduleTable TD.three {
    width: 37%;
}
TABLE.ScheduleTable TD.four {
    width: 37%;
}
TABLE.StandingsTable TD {
    height: 16px;
}
TABLE.StandingsTable TD.one {
    width: 7%;
}
TABLE.StandingsTable TD.two {
    width: 40%;
}
TABLE.StandingsTable TD.three {
    width: 7%;
}
TABLE.StandingsTable TD.four {
    width: 7%;
}
TABLE.StandingsTable TD.five {
    width: 7%;
}
TABLE.StandingsTable TD.six {
    width: 7%;
}
TABLE.StandingsTable TD.seven {
    width: 7%;
}
TABLE.StandingsTable TD.eight {
    width: 9%;
}
TABLE.StandingsTable TD.nine {
    width: 7%;
}
TABLE.KnvbTable A {
	text-decoration: underline;
}
TABLE.KnvbTable tr.DataRow:nth-child(2n+1) {
    background-color: #efefef;
}
TABLE.KnvbTable tr.Quick {
	background-color: #c2c2c2 !important;
}
DIV.FallBack {
	display: none;
	margin-top: 20px;
}

/* Periodes */
DIV.PeriodSwitch {
	padding: 20px 0 10px;
}
DIV.PeriodSwitch.Mobile {
	display: none;
}
DIV.PeriodSwitch A:hover {
	cursor: pointer;
}
DIV.PeriodSwitch A.selected {
	background-color: grey;
	padding: 3px 5px;
	color: white !important;
}
TABLE.Period {
	display: none;
}

/* Match Details Modal */
.Modal .modal-dialog {
    width: 500px;
}
.Modal .TeamsMobile {
	display: none;
}
.Modal .TeamLogo {
	width: 40px;
	margin: 15px;
}
.Modal .TeamName {
	font-family: "Open Sans",sans-serif;
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 20px;
    text-transform: uppercase;
}
.Modal .TeamScore {
	font-family: "Open Sans",sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    display: none;
}
.Modal .Details {
	margin-left: 25px;
	margin-top: 25px;
}
.Modal .Details > SPAN {
	display: block;
}
.Modal .RefDiv, .Modal .Special, .Modal .Special > DIV, .Modal .BijzDiv {
	display: none;
}
.Modal .Special, .Modal .Route {
	font-weight: bold;
}
.Modal #g_maps {
	height: 300px;
	width: 100%;
}

/* TeamEdit */
.TeamEdit FORM:nth-child(even) .TeamRowPlayer {
	background-color: white;
}
.TeamEdit FORM:nth-child(odd) .TeamRowPlayer {
	background-color: #efefef;
}
.TeamEdit .TeamPlayerEdit {
	padding: 10px 0;
}
.TeamEdit .TeamPlayerEdit INPUT {
	width: 100%;
}
.PlayerUpdateForm DIV.FormSubmit {
	display: none;
}
.NotSaved DIV.Status {
	background-image: url('../images/status_notsaved.png');
	background-repeat: no-repeat;
    height: 15px;
    width: 25px;
}
.NotSaved {
	border-left: 2px solid red;
}
.Saved {
	border-left: 2px solid green;
}
.Edit {
	border-left: 2px solid blue;
}
.Saved DIV.Status {
	background-image: url('../images/status_saved.png');
	background-repeat: no-repeat;
    height: 15px;
    width: 25px;
}
/* 404 PAGE */

.viernulvier {
	background-image: url('../images/404bg.jpg');
	width: 100%;
	height: 100vh;
	background-position: center center;
	background-size: cover;
	padding: 100px;
}
.viernulvier h1 {
	color: white;
}


/* Programma Template */

.ProgrammaPage {
	padding-top: 40px;
	padding-bottom: 40px;
}
.ProgrammaPage .row.title {
	margin-top: 30px;
}
.ProgrammaPage .WeekSelect {
	padding: 3px;
	color: black;
}
.ProgrammaPage .filters {
	float: left;
	width: 100%;
}
.TrainersPage {
	background-image: url("../images/single-team-bg.jpg");
    background-position: left center;
    background-repeat: repeat-y;
    background-size: 50% 100%;
}
.TrainersPage .ContentBlock {
	background-color: white;
    min-height: 750px;
    padding-bottom: 50px;
    padding-left: 30px;
}
.TrainersPage .Video {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
}
.ProgrammaPage h2 {
	margin-bottom: 23px;
}
.SchedulePage {
	padding-bottom: 50px;
	font-family: 'Rokkitt', serif;
	font-size: 18px;
}
.SchedulePage h3 {
	padding-left: 15px;
}
.ScheduleGroup {
	float: left;
}
.ScheduleMenu {
	padding: 6px;
	width: 100%;
	background-color: #efefef;
	color: black;
	text-transform: uppercase;
	text-align: center;
	margin-top: 5px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.ScheduleGroup .active {
	background-color: #555454;
	color: white;
}
.CanceledContainer:not(.AlwaysShow) {
	display: none;
}
.CanceledContainer {
	font-family: 'Rokkitt', serif;
	font-size: 18px;
}
.SchedulePage .SchedulePageTable, .CanceledTable {
	clear: both;
	margin-top: 40px;
	width: 100%;
}
.ProgrammaPage .HideLarge {
	display: none;
}
.ProgrammaPage .MatchRow IMG {
	 width: 16px;
}
.SchedulePage .SchedulePageTable IMG:hover {
	cursor: pointer;
}
.ProgrammaPage TABLE TD.Quick {
	font-weight: bold;
}
.SchedulePage TABLE TR.cancelled TD.Quick a {
    color: #d90000 !important;
    font-weight: bold;
}
.SchedulePage TABLE TR.cancelled {
    color: #d90000;
}
.SchedulePage TABLE TH.zero {
    width: 15%;
}
.SchedulePage TABLE TH.one {
    width: 7%;
}
.SchedulePage TABLE TH.two {
    width: 7%;
}
.SchedulePage TABLE TH.three {
    width: 32%;
}
.SchedulePage TABLE TH.four {
    width: 32%;
}
.SchedulePage TABLE TH.five {
    width: 15%;
}
.SchedulePage TABLE TH.six {
    width: 5%;
}
.CanceledContainer TABLE TH.one {
	width: 14.3%;
}
.CanceledContainer TABLE TH.two {
	width: 9.7%;
}
.CanceledContainer TABLE TH.three {
	width: 32.6%;
}
.CanceledContainer TABLE TH.four {
	width: 40%;
}
.LoadingIcon {
	width: 100%;
	margin-top: 40px;
	background-image: url("../images/loading.gif");
	padding-top: 5%;
	padding-left: 5%;
	background-position: center center;
	background-repeat: no-repeat;
	clear: both;
}

#MatchDetailsModal .modal-header {
	text-align: center;
}

#MatchDetailsModal .ClubTeamName {
	font-weight: bold;
}
#MatchDetailsModal .modal-body .CompType {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}
#MatchDetailsModal .modal-body .DateTime {
	padding: 15px 0;
	text-align: center;
}
#MatchDetailsModal .Teams {
	height: 90px;
	margin-bottom: 25px;
}
#MatchDetailsModal .MatchDetails {
	margin-top: 25px;
	max-width: 370px;
	width: 80%;
	margin: 0 auto;
}
#MatchDetailsModal .MatchDetails TABLE TR TD:first-child {
	width: 70%;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
}
#MatchDetailsModal .MatchDetails TABLE TR TD:nth-child(2) {
	white-space: nowrap;
}
#MatchDetailsModal .Standings {
	margin-top: 25px;
}
#MatchDetailsModal .modal-footer {
	align-items: center;
	display: flex;
	justify-content: center;
}

/* Historie */
.History .ContentBlock {
    background-color: white;
    min-height: 750px;
    padding-bottom: 50px;
    padding-left: 30px;
}
.History .MenuFilters {
    padding: 10px;
}
.History .MenuFilters .title {
	font-weight: bold;
}
.History .MenuFilters SELECT {
	padding: 3px;
	margin-bottom: 10px;
	width: 60%;
	border: 3px solid green;
}
.History .MenuFilters SELECT.UnSelected {
	border: 4px solid red;
}
.History .Content, .History .Selected {
	display: none;
}
.History .Content.Players {
	display: block;
}
.History .TeamTitle {
	margin: 25px 0;
}
DIV.Templates {
	display: none;
}
.NotSelected {
	margin: 25px;
}
/* /Historie */

/* Jublieum */
.AnniversaryPage DIV.content {
	margin: 20px;
}
.AnniversaryPage FORM {
	margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.AnniversaryPage FORM DIV.rowz {
	clear: both;
	padding: 10px;
}
.AnniversaryPage FORM DIV.rowz DIV {
	float: left;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}
.AnniversaryPage FORM DIV.rowz.submit {
	margin-left: 33%;
    margin-right: 33%;
    width: 33%;
}
.AnniversaryPage FORM DIV.rowz.remark {
	font-size: 11px;
	margin: 0 0 20px 100px;
}
.AnniversaryPage FORM DIV.rowz DIV.lbl {
	width: 90px;
	margin-left: auto;
	margin-right: auto;
}
.AnniversaryPage FORM INPUT.txt, .AnniversaryPage FORM TEXTAREA {
	border-radius: 4px;
    margin: 0 5px;
    padding: 4px 6px;
    border: 1px solid grey;
    width: 300px;
    margin-left: auto;
	margin-right: auto;
}
.AnniversaryPage FORM TEXTAREA {
	height: 150px;
}
.AnniversaryPage DIV.submit INPUT {
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 5px 10px 5px;
    padding: 4px 6px;
    width: 200px;
}
.AnniversaryPage DIV.submit INPUT:hover {
    background-color: black;
    color: white;
    border-color: grey;
}
.AnniversaryPage DIV.done {
	font-size: 18px;
	margin: 30px auto 0 auto;
	border: 5px solid green;
	padding: 10px;
}
/* /Jublieum */

/* Trainingsschema */

.TrainingClub {
	margin: 10px;
}

.TrainingClub H2.Header {
	margin: 20px;
}

.TrainingClub TABLE {
	width: 60%;
}

.TrainingClub TABLE TD {
	PADDING: 2px 5px;
}

.TrainingClub TABLE TH.one { width: 18%; }
.TrainingClub TABLE TH.two { width: 18%; }
.TrainingClub TABLE TH.three { width: 5%; }
.TrainingClub TABLE TH.four { width: 5%; }
.TrainingClub TABLE TH.five { width: 62%; }

/* /Trainingsschema */

/* RESPONSIVE */

@media (max-width: 1200px) {
	.btn-side {
		font-size: 13px;
	}
	.btn-kleding {
		height: 60.4px;
	}
}

#ProgrammaPage { display:block; }
@media only screen and (orientation:landscape){
  #portrait {
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (orientation:portrait){
  #portrait {
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}

@media (max-width: 991px) {
	.AnniversaryPage DIV.done, .AnniversaryPage FORM, .AnniversaryPage DIV.submit INPUT {
		width: 100%;
	}
	.AnniversaryPage FORM DIV.rowz DIV {
		padding: 3px;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        padding-right: 40px !important;
    }
    .ProgrammaPage .navbar-nav {
		margin: -4.5px 0;
	}
	.ProgrammaPage .filters {
		margin: 10px 0 0 15px;
	}
    .ProgrammaPage .navbar-collapse.collapse, .TrainersPage .navbar-collapse.collapse {
		display: block !important;
	}
    .navbar-collapse.collapse {
        display: none!important;
		z-index:9999;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px 0px;
        z-index: 9999;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
        z-index: 9999;
        position: relative;
    }
    .collapsing {
        overflow: hidden!important;
    }
    
    
    .navbar-nav .open .dropdown-menu {
	        position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    }
    .navbar ul ul ul {
	    display: block;
    }
    .navbar ul ul ul li a {
	    padding-left: 50px !important;
		overflow: hidden;
    }
    
}
@media (min-width: 991px) {

.navbar ul li:hover > .dropdown-menu{
	display: block !important;
}


}
@media (max-width: 991px) {
	.row-adverts .mobile {
		display: block;
	}
	.row-adverts .screen {
		display: none;
	}
	.Banner1 {
		padding-right: 0px;
		width: 400px;
		height: 400px;
		background-position: center center;
		background-size: cover;
	}
	.col-md-20 {
		width:50%;
	}
	.col-sm-100 {
		width: 100%;
	}
	.NextMatch h5 {
		float: none;
	}
	.colTeamButtons2 {
		margin-left: 18px;
	}
	.TeamButtons {
		margin-bottom: 30px;
	}
	.VideoSmall, .Video, .ExercisesVideo {
		height: 250px;
	}
	.SponsorSlider {
		padding-left: 15px;
	}
	.Banner2 {
		width: 100%;
		margin-left: 0px;
	}
	.map iframe {
		width: 100%;
	}
	.map a {
		font-size: 14px;
	}
	.navbar-toggle {
		background-color: #d90000;
	}
	.navbar-toggle .icon-bar {
		background-color: white;
	}
	.navbar ul li {
		z-index: 9999;
		text-align: center;
		background-color: white;
	}
	.navbar ul li a {
		padding: 10px 0px !important;
	}
	
	.navbar ul ul li {
		background-color: #efefef !important;
		border-top: 1px white solid;
	}
	.navbar ul ul li a {
		text-align: left !important;
		padding-left: 30px !important;
	}
	.NextMatchBox .Standings {
		padding-bottom: 50px;
		margin-bottom: 30px;
	}
	.filters {
		margin-left: 15px;
		margin-bottom: 30px;
	}
	.OldNewsCollums {
		margin-bottom: 20px;
	}
	.NewsPage .row {
		margin-right: -15px;
	}
	.SingleNewsTitle {
		font-size: 44px;
	}
	.TeamList {
		margin-bottom: 30px;
	}
	.btn-side {
		font-size: 16px;
	}
	.btn-kleding {
		display: none;
	}
	.btn-kledingmobile {
		display: block;
		color: black;
		border: solid 1px black;
	}
	.AtmospherePics {
		display: none;
	}
	.DoubleTitle {
	width: 100%;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: -55px !important;
	line-height: 41px !important;
	font-size:18px !important; 
	}
	.row-news {
		height: auto !important;
	}
	.Nieuwsbericht {
		position: relative !important;
		top: auto !important;
		left: auto !important;
		min-height: 350px;
	}
	.stersponsors {
	    border-right: none;
    }
    .TeamSidebar .row {
	    margin: 0px !important;
    }
    .row-return {
	    margin-right: 0px;
    }
    .FullWidth p:first-child {
	    padding-top: 0px;
    }
    .ContactFormTitle {
	    font-size: 18px;
    }
	.TeamSingle, .TrainersPage {
		background-image: none;
	}
	.ContentSwitch li {
		text-align: center;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 0;
	}
	.TeamSingle .row {
		margin-right: 0;
	}
	.TeamLatestNews {
		padding-left: 15px;
		padding-top: 30px;
	}
	.TeamLatestNews .TeamNewsTitle {
		font-size: 24px;
	}
	#teampicture {
		padding-left: 15px;
	}
	.CollapsableGroup.Large.Open {
		min-width: 90%;
	}
	.DayContainer TABLE {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.Modal .modal-dialog {
		width: 400px;
	}
	.Modal .TeamsMobile {
		display: block;
	}
	.Modal .Teams {
		display: none;
	}
	.logo img {
		width: 100px;
	}
	.navbar-collapse {
        padding-right: 10px !important;
        z-index: 9999;
    }
	.col-xs-100 {
		width: 100%;
	}
	h1 {
		font-size: 48px;
	}
	.AgendaTime {
		display: none;
	}
	.unslider-arrow {
		display: none;
	}
	.TeamButtons {
		margin-bottom: 50px;
	}
	.colTeamButtons {
		width: 50%;
	}
	.colTeamButtons2 {
		margin-left: 0px;
	}
	.btn-team {
		width: 97%;
	}
	.btn-teamlist {
		width: 100%;
	}
	.NextMatchBox {
		margin-top: 30px;
	}
	.siers {
		border-right: none;
	}
	.stersponsors {
		float: left;
	}
	.stersponsors img {
		height: 80%;
	}
	.SponsorSlider {
		padding-top: 0px;
	}
	.map, .MoreQuickTV, .VideoSmall h5 {
		display: none;
	}
	.SponsorsReasonsText  {
		line-height:30px;
	}
	.Title {
		font-size: 25px;
		margin-top: 10px !important;
		line-height: 35px !important;
	}
	.Subtitle.TeamPage {
		font-size: 16px;
		margin-top: -2px !important;
	}
	.MainPhoto, .photo-overlay {
		height: 300px
	}
	.ContactHeader {
		display: none;
	}
	.Maps, .OverigContact {
		padding-left: 0px;
		margin-bottom: 30px;
	}
	.Banner1 {
		padding-left: 0px
	}
	.footer-link {
		font-size: 10px;
	}
	.BestuurPhoto {
		height: 100px
	}
	.secr-title {
		font-size: 18px;
	}
	header .container {
		overflow: visible;
	}
	.container {
		overflow: hidden;
	}
	.ContainerMainTitle {
		overflow: visible;
	}
	.ContainerMainTitle .Title {
		margin-top: 24px !important;
	}
	.SchedulePage TR TD:first-child {
	padding-left: 0px;
	}
	.SchedulePage TABLE TH.one {
	    width: 15%;
	    padding-left: 0px;
	}
	.ExercisesVideo {
		height: 135px;
	}
}
@media (max-width: 600px) {
	.ProgrammaPage .MatchRow TD {
		padding: 5px 3px 0 0;
	}
	.HideSmall {
		display: none;
	}
	.ProgrammaPage .HideLarge {
		display: table-cell;
	}
	.ProgrammaPage SPAN.LineBreak {
	    display:inline;
	}
	.ProgrammaPage SPAN.LineBreak:after {
	    content:"\a";
	    white-space: pre;
	}
	.ProgrammaPage .MatchRow {
		border-bottom: 1px solid lightgray;
	}
	
	.DayContainer TABLE {
		width: 100%;
	}
	.DayContainer TABLE TR {
		border-bottom: 1px solid lightgray;
	}
}
@media (max-width: 500px) {
	.Modal .modal-dialog {
		width: 300px;
	}
	.slider-caption {
		margin-top: 120px
	}
	.footer-link {
		float: left;
	}
	.AgendaPage {
		overflow: hidden;
	}
	.FullWidth p img {
		width: 100%;
		height: 100%;
	}
	.row-adverts {
		margin-left: -15px;
	}
	.TeamSingle .News .row {
		margin-right: -10px;
	}
	td .ClubLogo {
		display: none;
	}
	DIV.PeriodSwitch.Mobile {
		display: block;
	}
	DIV.PeriodSwitch:not(.Mobile) {
		display: none;
	}
}

@media (max-height: 800px) {
	.slider, .slider-overlay, .slider-container {
		height: 453px;
	}
	.slider-caption {
		margin-top: 108px;
	}
	.unslider-arrow {
		margin-top: -250px;
	}
}