html, body {
	font-family: 'Open Sans', sans-serif;
}
p {
	font-size: 16px;
	line-height: 20px;
}
a {
	color: black;
}
.btn {
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6, .btn {
	font-family: 'Rokkitt', serif;
	margin: 0px;
}
h1 {
	font-size: 70px;
	margin: 0px !important;
	padding: 0px !important;
	line-height: 56px !important;
}
h2 {
	text-transform: uppercase;
	margin: 0px;
	padding: 15px 18px;
	display: inline-block;
	color: white;
	font-size: 25px;
	float: left;
	background-color: #d90000;
}
h4 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 6px;
}
h5 {
	display: inline-block;
	color: black;
	font-size: 20px;
	float: left;
	text-transform: uppercase;
}
h6 {
	color: #d90000;
	font-size: 16px;
}
.container {
	padding-left: 0px;
	padding-right: 0px;
}

/* HEADER */

header {
	margin-top: 31px;
	height: 82px;
}
.logo {
	z-index: 9999;
	margin-top: -12px;
}
.navigation {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.navbar {
	height: 82px !important;
	font-family: 'Rokkitt', serif !important;
	font-size: 16px;
	font-weight: bold;
	border: none !important;
}
.navbar-collapse {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.navbar a {
	color: black !important; 
}
.navbar ul li {
	text-transform: uppercase;
}
.navbar ul li:hover > .dropdown-menu{
	display: block !important;
}
.navbar ul li a {
	padding: 31px 10px !important;
}
.navbar ul li.active a, .navbar ul li a:hover{
	background-color: #DEBF79;
	color: white !important;
}
.navbar ul ul {
	border: 1px solid #DEBF79;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 0px;
	font-size: 16px !important;
}
.navbar ul ul li a {
	text-align: center;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

/* SLIDER */

.slider {
	height: 553px;
	width: 100%;
	background-position: center center;
	background-size: cover;
}
.slider-container {
	background-image:url("../images/slide1.jpg");
}
.slider-container {
	position: relative;
}
.unslider {
	overflow: visible;
}
.unslider-arrow {
	height: 74px;
	width: 74px;
}
.unslider-arrow.prev {
	background-image: url("/images/button-prev.png");
	left: 0;
}
.unslider-arrow.next {
	background-image: url("/images/button-next.png");
	right: 0;
}
.slider-overlay {
	width: 100%;
	height: 553px;
	background-color: black;
	opacity: 0.5;
	position: absolute;
}
.slider-caption {
	margin-top: 168px;
	position: absolute;
	color: white;
}
.slideCaptionLine {
	background-color: white;
	height: 1px;
	width: 220px;
	margin-left: 12px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.btn-readmore {
	border: 2px solid #d90000;
	color: white !important;
	border-radius: 0px !important;
	background: none;
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 10px;
	padding: 7px 34px;
}
.btn-readmore:hover {
	background-color: #d90000;
	color: white;
}

/* NIEUWS */

.news {
	background-color: #efefef;
	padding-bottom: 40px;
}
.newsLink {
	margin-left: 20px;
	margin-top: 40px;
}
.newsItems {
	padding-top: 19px;
}
.newsItemImage {
	width: 100%;
	height: 175px;
	background-size: cover;
	background-position: center center;
}
.newsTitle {	
	font-family: 'Open Sans', sans-serif !important;
	font-size: 16px;
	font-weight: bold;
	margin-top: 21px;
	margin-bottom: 5px;
	line-height: 16px;
}
.owl-item {
	margin-right: 30px ;
}
/* TEAMS */

.teams {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url("../images/home-teams-bg.png");
	background-position: left center;
	background-repeat: no-repeat;
}
.TeamButtons {
	padding-right: 0px !important;
}
.colTeams, .colTeamButtons {
	padding-left: 0px !important;
	padding-right: 0px !important; 
}
.colTeamButtons {
	width:165px;
}
.colTeamButtons2 {
	margin-left: 30px;
}
.btn-team{
	border-radius: 0px;
	background-color: #555454;
	color: white;
	text-transform: uppercase;
	width: 165px;
	height: 37px;
	margin-top: 5px;
	font-size: 16px;
}
.btn-team:hover {
	color: white;
	background-color: #616161;
}
.AllTeams {
	margin-top: 16px;
	font-size: 16px;
}
.black {
	background-color: black;
}
.NextMatch {
	background-color: #ededed;
	margin-top: 50px;
	padding: 15px;
}
.Standings {
	background-color: #ededed;
	margin-top: 30px;
	padding: 15px;
}

.NextMatch h5 {
	font-size: 26px !important;
}
.NextMatch p {
	font-size: 15px;
	display: inline-block;
}
.NextMatchLine {
	background-color: black;
	height: 1px;
	width: 100%;
	margin-bottom: 25px;
}
.ClubLogo {
	text-align: center;
}
.ClubLogo img {
	width: 50px;
	height: 50px;
}
.MatchName {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-family: 'Rokkitt', serif;
	padding-top: 15px;
}
.VideoSmall {
	padding-left: 0px;
	padding-right: 0px;
	height: 147px;
	margin-top: 30px;
}
.VideoSmallFirst {
	margin-top: 50px;	
}

/* Slogan + Agenda */

.slogan-agenda {
	background-color: #efefef;
	padding-bottom: 40px;
}
.slogan-agenda .black {
	margin-left: 15px;
}
.QuickSlogan {
	padding-top: 40px;
}
.slogan {
	font-weight: bold;
	font-size: 43px;
	text-transform: uppercase;
	line-height: 48px;
}
.agenda {
	margin-top: 15px;
	font-size: 16px;
	font-family: 'Rokkitt', serif;
}
.AgendaDate {
	padding-left: 0px;
	padding-right: 0px;
	color: #d90000;
}
.AgendaPoint {
	border-bottom: 1px solid #a3a3a3;
	display: inline-block;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
}
.AgendaTitle {
	padding-right: 0px;
}

/* Advertenties */

.advertising {
	padding-top: 56px;
	padding-bottom: 56px;
	background-color: #555;
}
.Banner1 {
	padding-right: 0px;
}

/* Sponsoren */

.sponsors {
	padding-bottom: 40px;
	background-image: url("../images/home-teams-bg.png");
	background-position: left center;
	background-repeat: no-repeat;
}
.hoofdsponsors {
	padding-top: 27px;
	padding-right: 0px;
}
.siers {
	border-right: 2px solid #c4c5c5;
	width: 142px;
	height: 118px;
	float: left;
}
.stersponsors {
	border-right: 2px solid #c4c5c5;
	height: 118px;
}
.SponsorSlider {
	padding-left: 0px;
	height: 118px;
	padding-top: 27px;
}

/* Footer */

footer {
	padding-top: 74px;
	padding-bottom: 74px;
	background-color: black;
}
.contact h5, .contact p{
	color: white;
	width: 100%;
}
.contact h5 {
	font-size: 25px;
}
.contact p {
	color: #cecece;
	margin-bottom: 3px;
	font-size: 15px;
}
.newsletter {
	color: #cecece !important;
	font-size: 22px !important;
	text-transform:none;
}
.socialmedia-icon img {
	margin-right: 3px;
}
.map a {
	color: white !important;
	padding: 20px;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Rokkitt', serif;
}
.LinkRoute {
	margin-top: 20px;
}
.disclaimer {
	padding-top: 20px;
	padding-bottom: 5px;
	background-image: url("../images/home-teams-bg.png");
	background-position: left center;
	background-repeat: no-repeat;
}